.homepage-logo-container {
  display: flex;
  justify-content: center;
}

.homepage-logo {
  object-fit: contain;
  width: 17rem;
}
.homepage-bg {
  position: fixed;
  z-index: -1;
  height: 100vw;
}
.mobile-homepage-bg {
  position: fixed;
  z-index: -1;
  width: 101vw;
}

.homepage--btn {
  color:black;
  border: black solid;
}