.carousel-high {
  height: 100vh;
}


@media screen and (max-width: 768px) {
  .carousel img {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  /* .carousel img {
    width: 100%;
  } */
}