.del-item-cart {
  background-color: white;
  color: #263d4b;
  ;
  border: none;
  width: 38px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 12px 2px;
}

.del-item-cart:hover {
  background-color: #263d4b;
  color: white;

}

.txt-orange {
  color: #d77340;
}

@media screen and (min-width: 992px) {
  .del-item-cart {
    padding: 0 5px 2px;
  }
}