.footer {
  background-color: rgb(29, 29, 29);
}

.lightgray {
  color: lightgray;
}

.logo-footer {
  width: 75%;
  filter: invert(1);
}

.address {
  font-size: 0.7rem;
}

.icon:hover,
.hover:hover {
  color: #d77340;
}

@media screen and (min-width: 992px) {

  .logo-footer {
    width: 15%;
  }

  .address {
    line-height: 0;
  }

}