.header-logo {
  display: none;
}

.header-logo-mobile {
  display: block;
  width: 6rem;
}

.notification {
  position: relative;
  height: 1.3rem;
  top: 9px;
  left: -32px;
}

@media screen and (min-width: 992px) {

  .header-logo-mobile {
    display: none;
  }

  .header-logo {
    display: block;
    width: 12vw;
  }
}