.header-logo {
  display: none;
  filter: invert(1);
}

.header-logo-mobile {
  display: block;
  width: 6rem;
}

.notification {
  position: relative;
  height: 1.3rem;
  top: 9px;
  left: -32px;
}

.btn-pad {
  height: 10%
}

.nav-link,
.text-color {
  color: #fef9ec;
}

@media screen and (min-width: 992px) {

  .header-logo-mobile {
    display: none;
  }

  .header-logo {
    display: block;
    width: 12vw;
  }
}

@media screen and (min-width: 1440px) {
  .custom-width {
    max-width: 1440px;
  }

  .header-logo {
    width: 200px;
  }
}

.text-blue {
  color: #263d4b;
}

.custom {
  background-color: #263d4b;
}

.nav-link:hover {
  color: #d77340;
}

body {
  background-color: #fef9ec;
}