.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.homepage-logo-container {
  display: flex;
  justify-content: center;
}

.homepage-logo {
  object-fit: contain;
  width: 17rem;
}

.homepage-bg {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.fork-img {
  background-image: url('../images//fork.svg');
  background-repeat: no-repeat;
  background-position: 53% 22%;
}

.homepage--btn {
  color: black;
  border: black solid;
}

.btn-menu {
  margin-top: 10%;
}