.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.homepage-logo-container {
  display: flex;
  justify-content: center;
}

.homepage-logo {
  object-fit: contain;
  width: 17rem;
}

.homepage-bg {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.homepage--btn {
  color: black;
  border: black solid;
}

.button-container {
  position: relative;
  top: -535px;
}

.btn-menu {
  background-color: rgba(255, 255, 255, 0.589);
  padding: 3% 0;
  width: 0%;
}

@media screen and (min-width: 768px) {
  .button-container {
    top: -70vh;
  }

  .btn-menu {
    width: 25% !important;
    min-width: 300px;
  }
}