.card-container {
  max-width: 280px;
  padding: 0;
}

.add-to-cart--btn {
  color:black;
  border: black solid;
}
.add-to-cart--btn:hover {
  background-color: rgb(40, 40, 40);
}

.quantity-text {
    min-width: 42px;
    text-align: center;
}


@media screen and (min-width: 768px) {
  .card-image {
    width: 10rem;
    height: 10rem;
  }
  .card-inside-container {
    height: 100%;
  }
  .card-container {
    max-width: 48%;
    padding: 0;
  }
}