.card-container {
  max-width: 280px;
  padding: 0;
}

.add-to-cart--btn {
  color: #263d4b;
  border: 2px solid #263d4b;
}

.add-to-cart--btn:hover {
  background-color: #fef9ec;
  color: #d77340;
  border: 2px solid #d77340;
}

.quantity-text {
  min-width: 42px;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .card-image {
    width: 10rem;
    height: 10rem;
  }

  .card-inside-container {
    height: 100%;
  }

  .card-container {
    max-width: 48%;
    padding: 0;
  }
}